<%- include('header-base.ejs') %>
<% customAutoLoad.LibsCss.forEach(function(lib){ %>
    <link rel="stylesheet" href="<%-window.libURL%>libs/css/<%-lib%>">
<% }) %>
<% customAutoLoad.AssetsCss.forEach(function(lib){ %>
    <link rel="stylesheet" href="<%-window.libURL%>assets/vendor/<%-lib%>">
<% }) %>
<body class="g-sidenav-show   bg-gray-100">
    <div class="min-height-300 bg-primary position-absolute w-100"></div>
