<div id="tab-monitorsList" style="display:none;" class="container-fluid py-4 page-tab">
    <div class="my-3 px-3 pt-3 rounded shadow-sm search-parent">
      <h4 class="mb-3 pb-3 border-bottom-dotted border-color-blue d-flex flex-row">
          <div style="flex:8">
              <%- lang['Monitors'] %> <small>(<span class="cameraCount"></span>)</small>
          </div>
          <div style="flex:2">
              <input class="form-control search-controller" placeholder="<%- lang.Search %>" id="monitorsList-search">
          </div>
          <div style="flex:1"></div>
      </h4>
      <table id="monitorsListRows" class="table table-striped">
          <tbody class="search-body"></tbody>
      </table>
    </div>
    <div style="margin-bottom: 50px;"></div>
    <h4 class="sticky-bar p-3 d-flex flex-row">
        <!-- <div style="flex:2" class="dark">
            <select class="form-control form-control-sm btn-default peerConnectKeys_list"></select>
        </div> -->
        <div style="flex:2" class="dark">
            <select class="form-control form-control-sm btn-default" id="multi_mon_api_key_selector"></select>
        </div>
        <div class="pl-2">
            <input class="form-check-input no-abs" type="checkbox" id="multimon_select_all">
        </div>
        <div class="pl-2">
            <div class="dropdown">
              <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="monitorsListOptions" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bars"></i>
              </button>
              <ul class="dropdown-menu shadow-lg" aria-labelledby="monitorsListOptions">
                <li><a class="dropdown-item export-selected-monitor-settings cursor-pointer"><%- lang.Export %></a></li>
                <li><a class="dropdown-item delete-selected-monitor-settings cursor-pointer"><%- lang.Delete %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item import-monitor-settings cursor-pointer"><%- lang.Import %></a></li>
                <li><a class="dropdown-item move-monitor-settings cursor-pointer"><%- lang.Move %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item changeMode-monitor-settings cursor-pointer"><%- lang['Edit Mode'] %></a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item open-monitor-settings cursor-pointer"><%- lang['Add New'] %></a></li>
              </ul>
            </div>
        </div>
    </h4>
    <script src="libs/js/dashboard.monitorsList.js"></script>
</div>
